<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
    {% for item in todos %}
      {% if item.complete == False %}
        <p>{{item.name}}</p>

      {% else %}
        <p><s>{{ item.name}}</s></p>
      {% endif %}
    {% endfor %}
  
  <!--{%for i in range(20) %}

      <h1>Título</h1>
      <h2>Loop: {{i}}</h2>

      {% if i ==3 %}
        <h3>I = 3</h3>
      {%endif%}
  
  {%endfor %}
  <p>{{ todos [0]. name}}</p>
  <p>{{ todos [1]. name}}</p>-->
</body>
</html>